<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/icon.png">
    <title>Login - VetMed</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/login.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="left-side"></div>
        <div class="right-side">
            <form class="login-form">
                <h2>Digite seu E-mail</h2>
                <label>
                    <input id="email" type="email" placeholder="E-mail" required>
                </label>
                <h2>Digite sua Senha</h2>
                <label>
                    <input id="senha" type="password" placeholder="Senha" required>
                </label>
                <div id="error-box" style="display: none; color: red; margin-top: 10px;"></div>
                <button type="submit">Continuar</button>
            </form>
        </div>
    </div>
</body>
</html>
