body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: #f0f0f0;
}

.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 60px);
    padding-left: 50px;
}

.cadastro-button {
    background: white;
    border: 1px solid #ccc;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 50px;
    font-weight: lighter;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
}

.cadastro-button:hover {
    background-color: #9abad4;
}

.cadastro-button.active {
    background-color: #004070;
    color: white;
    border: none;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.navbar ul li a.active {
    background-color: #004070;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
}
