body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004070;
    padding: 15px 20px;
    margin: auto;
    position: relative;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.navbar ul li {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 600;
}

.navbar ul li a.active {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.user-info {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info span {
    color: white;
    font-weight: bold;
}

.content {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #f0f0f0;
}

.button.active {
    background-color: #004070;
    color: white;
    border: none;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.navbar ul li a.active {
    background-color: #004070;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
}