body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: #f0f0f0;
}

/* Fundo escurecido para o pop-up */
.popup-container {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

/* Caixa do pop-up */
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

/* Estilização dos campos */
.popup-content input,
.popup-content textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estiliza os radio buttons */
.radio-buttons {
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 15px;
    padding-left: 50px;
}

.radio-buttons input {
    margin: 10px;
    width: 15px;
    height: 15px;
}

/* Botões */
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.salvar {
    background: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelar {
    background: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
