/* Estilização dos campos */
.popup-content input,
.popup-content textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estiliza os radio buttons */
.radio-buttons {
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 15px;
    padding-left: 20px;
}

.radio-buttons input {
    margin: 10px;
    width: 15px;
    height: 15px;
}

/* Botões */
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: -18px;
}
