.popup-container {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

/* Estilização dos botões */
.salvar, .cancelar {
    padding: 10px 20px; /* Ajusta o tamanho dos botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px; /* Define um tamanho fixo para garantir que os dois tenham o mesmo tamanho */
    text-align: center;
}

.salvar {
    background: green;
    color: white;
}

.cancelar {
    background: red;
    color: white;
}