<div id="cadastro-popup" class="popup-container">
    <div class="popup-content">
        <h2>Editar Usuário</h2>
        <form id="cadastroForm">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required>

            <label for="cargo">Cargo</label>
            <select id="cargo" name="cargo" onchange="toggles()" required>
                <option value="">Selecione</option>
                <option value="vet">Veterinário(a)</option>
                <option value="sec">Secretário(a)</option>
            </select>

            <div id="especialidade-container" style="display: none; margin-top: 10px;">
                <label for="especialidade">Especialidade</label>
                <select id="especialidade" name="especialidade">
                    <option value="">Selecione</option>
                    <!-- Aqui o select será feito dinamicamente com as especialidades da tabela -->
                </select>
            </div>

            <div id="turno-container" style="display: none;">
                <label for="turno">Turno</label>
                <select id="turno" name="turno" required>
                    <option value="">Selecione</option>
                </select>
            </div>

            <div class="form-buttons">
                <button type="submit" id="btnSalvar" class="salvar">Salvar</button>
                <button type="button" class="cancelar" onclick="fecharPopupCadastro()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
