<div id="cadastro-popup" class="popup-container">
    <div class="popup-content">
        <h2>Cadastro de Paciente</h2>
        <form id="cadastroForm" method="POST" action="/cadastro_paciente">
            <label for="tutor">Tutor (CPF)</label>
            <input type="text" id="tutor" name="tutor" required>


            <div class="form-buttons">
                <button type="submit" class="salvar">Salvar</button>
                <button type="button" class="cancelar" onclick="fecharPopupCadastro()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
