<div id="editar-popup" class="popup-container" style="display: none">
    <div class="popup-content">
        <h2>Editar Status do Agendamento</h2>
        <form id="editarForm">
            <input type="hidden" id="id_agendamento" name="id_agendamento">

            <label for="status">Status</label>
            <select id="status" name="status" required>
                <option value="">Selecione</option>
            </select>

            <div class="form-buttons">
                <button type="button" id="salvarEdicao" class="salvar">Salvar</button>
                <button type="button" class="cancelar" onclick="fecharPopupEdicao()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
