<div id="cadastro-popup" class="popup-container">
    <div class="popup-content">
        <h2>Cadastro de Paciente</h2>
        <form id="cadastroForm">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required>

            <label for="nascimento">Nascimento</label>
            <input type="date" id="nascimento" name="nascimento" required>

            <div class="radio-buttons">
                <label for="macho">
                    <input type="radio" id="macho" name="sexo" value="M" required>Macho
                </label>

                <label for="femea">
                    <input type="radio" id="femea" name="sexo" value="F">Fêmea
                </label>
            </div>

            <label for="especie">Espécie</label>
            <input type="text" id="especie" name="especie" required>

            <label for="raca">Raça</label>
            <input type="text" id="raca" name="raca" required>

            <label for="peso">Peso</label>
            <input type="number" min="0" step="0.001" id="peso" name="peso" required>

            <label for="cor">Cor</label>
            <input type="text" id="cor" name="cor" required>

            <label for="tutor">Tutor (CPF)</label>
            <input type="text" id="tutor" name="tutor" required>

            <div class="form-buttons">
                <button type="submit" class="salvar">Salvar</button>
                <button type="button" class="cancelar" onclick="fecharPopupCadastro()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
