<div id="editar-popup" class="popup-container" style="display: none">
    <div class="popup-content">
        <h2>Editar Agendamento</h2>
        <form id="cadastroForm">

            <label for="data">Data</label>
            <input type="text" disabled id="data" name="data" required>

            <label for="tutor">Tutor</label>
            <input type="text" disabled id="tutor" name="tutor" required>

            <label for="paciente">Paciente</label>
            <input type="text" disabled id="paciente" name="paciente" required>

            <label for="status">Status</label>
            <select id="status" name="status" required>
                <option value="">Selecione</option>
                { % for status in status % }
                <option value="{{ status.id }}">{{ status.nome }}</option>
                { % endfor % }
            </select>

            <label for="horario">Horário</label>
            <select id="horario" name="horario" required>
                <optgroup label="Manhã">
                    <option value="08:30">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                </optgroup>
                <optgroup label="Tarde">
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                </optgroup>
            </select>
            <div class="form-buttons">
                <button type="submit" class="salvar">Salvar</button>
                <button type="button" class="cancelar" onclick="fecharPopupEdicao()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
