<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/images/icon.png">
    <title>Pacientes - VetMed</title>
    <link rel="stylesheet" href="../../static/css/cadastros.css">       <!-- CSS da tela de cadastros (botões) -->
    <link rel="stylesheet" href="../../static/css/sp_usuarios.css">        <!-- CSS da tabela de usuários -->
    <link rel="stylesheet" href="../../static/css/cabecalho.css">       <!-- CSS do cabeçalho -->
    <link rel="stylesheet" href="../../static/css/paciente.css">   <!-- CSS do popup de novo cadastro -->
    <link rel="stylesheet" href="../../static/css/logout.css">          <!-- CSS do popup de logout -->
    <link rel="stylesheet" href="../../static/css/popup.css">    <!-- CSS do popup padrão -->
</head>
<body>
<header>
        <nav class="navbar">
        <ul>
            <li><a href="/inicio">Início</a></li>
            <li><a href="/agenda">Agenda</a></li>
            <li><a href="/cadastros" class="active">Cadastros</a></li>
            <li><a href="/consultas">Consultas</a></li>
            <li><a href="/financeiro">Financeiro</a></li>
            <li><a href="#" onclick="abrirPopupLogout()">Sair</a></li>
        </ul>
        <div id="popup-container">
            {% include 'logout.html' %}
        </div>
        {% include 'partials/navbar.html' %}
    </nav>
</header>
<main>
    <div class="cadastro-container">
        <button class="cadastro-button active" onclick="window.location.href='/pacientes'">Pacientes</button>
        <button class="cadastro-button" onclick="window.location.href='/tutores'">Tutores</button>
        <button class="cadastro-button" onclick="window.location.href='/usuarios'">Usuários</button>
    </div>

    <div class="usuarios-container">
        <div class="table-header">
            <h2>Pacientes</h2>
            <label for="search"></label>
                <input type="text" id="search" placeholder="Pesquisar paciente">
            <button id="novoCadastro">Novo Cadastro</button>
            <div id="popupContainer">
                {% include 'tela_cadastros/cadastro_pacientes.html' %}
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="tabelaPacientes">
                <!-- Os pacientes serão inseridos aqui dinamicamente -->
            </tbody>
        </table>
    </div>
    <script type="module" src="../../static/js/paciente.js"></script>
    <script type="module" src="../../static/js/buscas.js"></script>
</main>
<script src="../../static/js/logout.js"></script>
</body>
</html>


