<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/images/icon.png">
    <title>Pacientes - VetMed</title>
    <link rel="stylesheet" href="../../static/style_cadastros.css">
    <link rel="stylesheet" href="../../static/tela_cadastros/style_usuarios.css">
    <link rel="stylesheet" href="../../static/style_cabecalho.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/inicio">Início</a></li>
                <li><a href="/agenda">Agenda</a></li>
                <li><a href="/cadastros" class="active">Cadastros</a></li>
                <li><a href="/consultas">Consultas</a></li>
                <li><a href="/financeiro">Financeiro</a></li>
                <li><a href="/BDProjeto2024-2/app/static">Sair</a></li>
            </ul>
            <div class="user-info">
                <img src="../../static/profile_pictures/usuarios/anaclara.png" alt="Foto do Usuário">
                <span>Olá, Ana Clara!</span>
            </div>
        </nav>
    </header>
    <main>
        <div class="cadastro-container">
            <button class="cadastro-button active" onclick="window.location.href='/pacientes'">Pacientes</button>
            <button class="cadastro-button" onclick="window.location.href='/tutores'">Tutores</button>
            <button class="cadastro-button" onclick="window.location.href='/usuarios'">Usuários</button>
        </div>

        <div class="usuarios-container">
            <div class="table-header">
                <h2>Pacientes</h2>
                <label for="search"></label><input type="text" id="search" placeholder="Pesquisar paciente">
                <button id="novoCadastro" onclick="cadastroPaciente()">Novo Cadastro</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}
                    <tr>
                        <td>{{ paciente.nome }}</td>
                        <td><button onclick="editarPaciente('{{ paciente.nome }}')">Editar</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <script>
        function editarPaciente(nome) {
            alert("Editar paciente: " + nome);
        }

        function cadastroPaciente() {
        window.open("/cadastro_paciente", "_blank", "width=600,height=900");
    }
    </script>
</body>
</html>


