<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros - VetMed</title>
    <link rel="stylesheet" href="../static/style_cabecalho.css">
    <link rel="stylesheet" href="../static/style_cadastros.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/inicio">Início</a></li>
                <li><a href="/agenda">Agenda</a></li>
                <li><a href="/cadastros" class="active">Cadastros</a></li>
                <li><a href="/consultas">Consultas</a></li>
                <li><a href="/financeiro">Financeiro</a></li>
                <li><a href="/">Sair</a></li>
            </ul>
            <div class="user-info">
                <img src="../static/profile_pictures/anaclara.png" alt="Foto do Usuário">
                <span>Olá, Ana Clara!</span>
            </div>
        </nav>
    </header>
    <main>
        <div class="cadastro-container">
            <button class="cadastro-button" onclick="window.location.href='/pacientes'">Pacientes</button>
            <button class="cadastro-button" onclick="window.location.href='/tutores'">Tutores</button>
            <button class="cadastro-button">Produtos</button>
            <button class="cadastro-button">Serviços</button>
            <button class="cadastro-button">Exames</button>
            <button class="cadastro-button">Vacinas</button>
            <button class="cadastro-button" onclick="window.location.href='/usuarios'">Usuários</button>
        </div>
        <div id="usuarios-container"></div>
    </main>
</body>
</html>
