<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - VetMed</title>
    <link rel="stylesheet" href="../static/style_inicio.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <span class="user-greeting">Olá, Ana Clara!</span>
            <img src="../static/profile_pictures/anaclara.png" alt="Foto do Usuário" class="user-photo">
        </div>
    </header>

    <main>
        <div class="container">
            <div class="logo">
                <span class="vet">Vet</span><span class="med">Med</span>
            </div>
            <div class="button-grid">
                <a href="#" class="button">
                    <img src="../static/icones/agenda.png" alt="Agenda">
                    <span>Agenda</span>
                </a>
                <a href="/cadastros" class="button">
                    <img src="../static/icones/cadastros.png" alt="Cadastros">
                    <span>Cadastros</span>
                </a>
                <a href="#" class="button">
                    <img src="../static/icones/calendario.png" alt="Consultas">
                    <span>Consultas</span>
                </a>
                <a href="#" class="button">
                    <img src="../static/icones/financeiro.png" alt="Financeiro">
                    <span>Financeiro</span>
                </a>
                <a href="/" class="button">
                    <img src="../static/icones/saida.png" alt="Sair">
                    <span>Sair</span>
                </a>
            </div>
        </div>
    </main>
</body>
</html>
