<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/icon.png">
    <title>Início - VetMed</title>
    <link rel="stylesheet" href="../static/css/inicio.css">         <!-- CSS da página de início -->
    <link rel="stylesheet" href="../static/css/cabecalho.css">      <!-- CSS do cabeçalho -->
    <link rel="stylesheet" href="../static/css/logout.css">         <!-- CSS do popup de logout -->
    <link rel="stylesheet" href="../static/css/janela_popup.css">   <!-- CSS do popup padrão -->
</head>
<body>
    <header>
        <nav class="navbar-inicio">
            <div class="user-info">
                <img src="../static/profile_pictures/usuarios/anaclara.png" alt="Foto do Usuário">
                <span>Olá, Ana Clara!</span>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="logo">
                <img src="../static/images/logo.png" alt="VetMed Logo">
            </div>
            <div class="button-grid">
                <a href="#" class="button">
                    <span>Agenda</span>
                    <img src="../static/icones/agenda.png" alt="Agenda">
                </a>
                <a href="/cadastros" class="button">
                    <span>Cadastros</span>
                    <img src="../static/icones/cadastros.png" alt="Cadastros">
                </a>
                <a href="#" class="button">
                    <span>Consultas</span>
                    <img src="../static/icones/calendario.png" alt="Consultas">
                </a>
                <a href="#" class="button">
                    <span>Financeiro</span>
                    <img src="../static/icones/financeiro.png" alt="Financeiro">
                </a>
                <a href="#" class="button" onclick="abrirPopupLogout()">
                    <span>Sair</span>
                    <img src="../static/icones/saida.png" alt="Sair">
                </a>
            </div>
            <div id="popup-container">
            {% include 'logout.html' %}
            </div>
        </div>
    </main>
    <script src="../static/js/logout.js"></script>
</body>
</html>
