<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - VetMed</title>
    <link rel="stylesheet" href="../static/style_inicio.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Agenda</a></li>
                <li><a href="#">Cadastros</a></li>
                <li><a href="#">Consultas</a></li>
                <li><a href="#">Financeiro</a></li>
                <li><a href="#">Pesquisa</a></li>
                <li><a href="#">Sair</a></li>
            </ul>
            <div class="user-info">
                <img src="../static/profile_pictures/anaclara.png" alt="Foto do Usuário">
                <span>Olá, Ana Clara!</span> <!-- Trocar para {{nome_usuario}} quando for implementar -->
            </div>
        </nav>
    </header>
    <main>
        <div class="content"></div>
    </main>
</body>
</html>
