<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - VetMed</title>
    <link rel="stylesheet" href="../static/style_login.css">
</head>
<body>
    <div class="container">
        <div class="left-side"></div>
        <div class="right-side">
            <form class="login-form">
                <h2>Digite seu E-mail</h2>
                <label>
                    <input type="email" placeholder="E-mail">
                </label>
                <h2>Digite sua Senha</h2>
                <label>
                    <input type="password" placeholder="Senha">
                </label>
                <button type="submit">Continuar</button>
            </form>
        </div>
    </div>
</body>
</html>
